In [26]:
 import os as os
import numpy as np
import pandas as pd

In [27]:
 # 設定 data_path
dir_data = '../data/'

# 用pd.read_csv來讀取資料

In [28]:
 f_app = os.path.join(dir_data, 'application_train.csv')
print("Path of read in data: %s" % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../data/application_train.csv

如何知道資料的 row 數以及 column 數

In [29]:
app_train.shape

(307511, 122)

多少欄位

In [30]:
app_train.shape[1]

122

有什麼欄位

In [31]:
list(app_train)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

提取特定欄位

In [24]:
app_train[['LIVINGAREA_AVG','YEARS_BUILD_MODE']]

        LIVINGAREA_AVG  YEARS_BUILD_MODE
0               0.0190            0.6341
1               0.0549            0.8040
2                  NaN               NaN
3                  NaN               NaN
4                  NaN               NaN
5                  NaN               NaN
6                  NaN               NaN
7                  NaN               NaN
8                  NaN               NaN
9                  NaN               NaN
10                 NaN               NaN
11                 NaN               NaN
12              0.0778               NaN
13              0.1397            0.7452
14              0.3774            0.9804
15                 NaN               NaN
16                 NaN               NaN
17                 NaN               NaN
18              0.0290            0.8432
19                 NaN               NaN
20              0.0619            0.7125
21                 NaN               NaN
22              0.0873            0.7190
23              0.1484            0.8367
24              0.1217            0.8171
25              0.0670            0.7125
26              0.0094               NaN
27                 NaN               NaN
28                 NaN               NaN
29              0.1412            0.7779
...                ...               ...
307481             NaN               NaN
307482          0.0307            0.6537
307483          0.0076            0.6668
307484             NaN               NaN
307485             NaN               NaN
307486          0.2358               NaN
307487             NaN               NaN
307488          0.0518               NaN
307489          0.0025            0.5753
307490             NaN               NaN
307491             NaN               NaN
307492             NaN               NaN
307493             NaN               NaN
307494             NaN               NaN
307495          0.0783               NaN
307496             NaN               NaN
307497             NaN               NaN
307498          0.2215            0.8563
307499             NaN               NaN
307500          0.1133               NaN
307501          0.0189               NaN
307502             NaN               NaN
307503             NaN               NaN
307504             NaN               NaN
307505          0.2302            0.8171
307506          0.1965            0.7125
307507          0.0257            0.6406
307508          0.9279            0.7583
307509          0.0061               NaN
307510          0.0791               NaN

[307511 rows x 2 columns]